/* ============================
   Layout Wrapper
============================ */
.content {
    display: flex;
    justify-content: center;
}

/* ============================
   CARD CONTAINER
============================ */
.form-card {
    width: 520px;
    margin: 40px auto;
    padding: 28px 30px 35px 30px;
    background: rgba(217, 217, 217, 0.45);
    border: 1px solid #fff;
    box-shadow: 10px 14px 40px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    transition: 0.35s;
}

.form-card:hover {
    transform: scale(1.01);
    border: 1px solid #888;
}

/* ============================
   CARD TITLE
============================ */
.card-title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 22px;
}

/* ============================
   INPUT
============================ */
.input {
    width: 96%;
    height: 32px;
    padding: 4px 10px;
    border-radius: 10px;
    border: 1.5px solid #ccc;
    outline: none;
    transition: 0.25s;
    font-size: 14px;
    margin-bottom: 14px;
}

.input:hover {
    border: 1.5px solid #b7b7b7;
}

.input:focus {
    border: 2px solid #555;
}

/* ============================
   TEXTAREA
============================ */
textarea.input {
    width: 96%;
    min-height: 70px;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1.5px solid #ccc;
    outline: none;
    font-size: 14px;
    transition: 0.25s;
    resize: none; 
    margin-bottom: 14px;
}

textarea.input:hover {
    border: 1.5px solid #b7b7b7;
}

textarea.input:focus {
    border: 2px solid #555;
}


/* ============================
   DROPDOWN
============================ */
select.input {
    width: 252px;
    background: white;
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 15px;
}

/* ============================
   LABEL
============================ */
label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    display: block;
}

/* ============================
   FLEX ROW
============================ */
.row-flex {
    display: flex;
    gap: 15px;
}

.row-flex .col {
    flex: 1;
}

/* ============================
   BUTTONS
============================ */
.btn-submit {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s;
}

.btn-submit:hover {
    background: #000;
}

.btn-back {
    display: inline-block;
    margin-top: 12px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.btn-back:hover {
    text-decoration: underline;
}